
@{
    ViewBag.Title = "Index";
}

<h2>WELCOME TO THE QUEUE</h2>
<br />
<div>
    <ol>
        <li><a href="@Url.Action("addQueueItem", "Queue")" class="w3-bar-item w3-button">Add one item to the Queue</a>
            <div>
                @foreach (var sData in ViewBag.MyQueue)
                {
                    <p>@sData</p>
                }
            </div>    
        </li>
        <li><a href="@Url.Action("addQueueList", "Queue")" class="w3-bar-item w3-button">Add Huge List of Items to the Queue</a>
            <div>
                @foreach (var sData in ViewBag.MyQueue)
                {
                    <p>@sData</p>
                }
            </div>
        </li>
        <li><a href="@Url.Action("Index", "Dictionary")" class="w3-bar-item w3-button">Display the Queue</a></li>
        <li><a href="@Url.Action("Index", "Dictionary")" class="w3-bar-item w3-button">Delete from the Queue</a></li>
        <li><a href="@Url.Action("Index", "Dictionary")" class="w3-bar-item w3-button">Clear the Queue</a></li>
        <li><a href="@Url.Action("Index", "Dictionary")" class="w3-bar-item w3-button">Search the Queue</a></li>
        <li><a href="@Url.Action("Index", "Home")" class="w3-bar-item w3-button">Return to Main Menu</a></li>

    </ol>
</div>

