
@{
    ViewBag.Title = "Index";
}

<h2>WELCOME TO THE STACK</h2>

<ol>

    <li><a href="@Url.Action("addToStack", "Stack")" class="w3-bar-item w3-button">Add one time to Stack</a></li>
    <li><a href="@Url.Action("addListToStack", "Stack")" class="w3-bar-item w3-button">Add Huge List of Items to Stack</a></li>
    <li><a href="@Url.Action("displayStack", "Stack")" class="w3-bar-item w3-button">Display Stack</a></li>
    <li><a href="@Url.Action("deleteFromStack", "Stack")" class="w3-bar-item w3-button">Delete from Stack</a></li>
    <li><a href="@Url.Action("clearStack", "Stack")" class="w3-bar-item w3-button">Clear Stack</a></li>
    <li><a href="@Url.Action("searchStack", "Stack")" class="w3-bar-item w3-button">Search Stack</a></li>
    <li><a href="@Url.Action("Index", "Home")" class="w3-bar-item w3-button">Return to Main Menu</a></li>

</ol>

<p>@ViewBag.displayStack</p>


