
@{
    ViewBag.Title = "Index";
}

<h2>WELCOME TO THE STACK</h2>

<ol>
    <li><a href="@Url.Action("addToStack", "Stack")" class="w3-bar-item w3-button">Add one time to Stack</a>
        @foreach (var sData in ViewBag.MyQueue)
        {
            <p>@sData</p>
        }
    </li>
    <li><a href="@Url.Action("Index", "Queue")" class="w3-bar-item w3-button">Add Huge List of Items to Stack</a></li>
    <li><a href="@Url.Action("Index", "Dictionary")" class="w3-bar-item w3-button">Display Stack</a></li>
    <li><a href="@Url.Action("Index", "Dictionary")" class="w3-bar-item w3-button">Delete from Stack</a></li>
    <li><a href="@Url.Action("Index", "Dictionary")" class="w3-bar-item w3-button">Clear Stack</a></li>
    <li><a href="@Url.Action("Index", "Dictionary")" class="w3-bar-item w3-button">Search Stack</a></li>
    <li><a href="@Url.Action("Index", "Dictionary")" class="w3-bar-item w3-button">Return to Main Menu</a></li>

</ol>
